<div class="window">
  <div class="grid col-12 body" style="margin: auto">
    <div class="grid col-12 box" style="text-align: center">
      <div class="grid col-12">
        <div class="grid col-6_sm-12">
          <div class="col-4"><span class=" d-smallest_font"><a href="index.html" data-pid="1965499">Home<br></a></span></div>
          <div class="col-4"><span class=" d-smallest_font"><a href="index.html#cont2" data-pid="1965499">会場</a></span></div>
          <div class="col-4"><span class=" d-smallest_font"><a href="pg2042608.html" data-pid="2042608">開催挨拶</a></span></div>
        </div>
        <div class="grid col-6_sm-12">
          <div class="col-6"><span class=" d-smallest_font"><a href="index.html" data-pid="1965499">参加登録</a></span></div>
          <div class="col-6"><span class=" d-smallest_font"></span><a href="pg2391296.html" data-pid="2391296">ソリスト募集</a></div>
        </div>
      </div>
      <div class="grid col-12">
        <div class="grid col-6_sm-12">
          <div class="col-6"><span class=" d-smallest_font"><a href="index.html" data-pid="1965499">広告・ブース</a></span></div>
          <div class="col-6"><span class=" d-smallest_font"><a href="pg2043091.html" data-pid="2043091">開催委員会</a></span></div>
        </div>
        <div class="grid col-6_sm-12">
          <div class="col-6"><span class="d-smallest_font"><a href="mailto:info@japan-sax-congress.com">お問合せ</a></span></div>
          <div class="col-6"><span class="d-smallest_font"><a href="pg2121426.html" data-mypid="2121426" class=" c-current">観光案内</a></span></div>
        </div>
      </div>
    </div>

    <article style="padding: 1rem;margin-top: 5rem">
      <h1 class="title1">WSC KURASHIKI 2021 特定商取引法に基づく表記</h1>
      <div class="grid sct">
        <div class="col-4_sm-12">
          <h3>事業者</h3>
        </div>
        <div class="col-8_sm-12">
          <p>一般社団法人日本サクソフォーン協会 WSC KURASHIKI 2021 開催委員会</p>
        </div>
        <div class="col-4_sm-12">
          <h3>運営統括責任者</h3>
        </div>
        <div class="col-8_sm-12">
          <p>冨岡和男</p>
        </div>
        <div class="col-4_sm-12">
          <h3>所在地</h3>
        </div>
        <div class="col-8_sm-12">
          <p>〒215-0005 神奈川県川崎市麻生区丁千代ケ丘3-3-18</p>
        </div>
        <div class="col-4_sm-12">
          <h3>電話番号</h3>
        </div>
        <div class="col-8_sm-12">
          <p>044-955-3115</p>
        </div>
        <div class="col-4_sm-12">
          <h3>メールアドレス</h3>
        </div>
        <div class="col-8_sm-12">
          <p>wsc.kurashiki2021@gmail.com</p>
        </div>
        <div class="col-4_sm-12">
          <h3>URL</h3>
        </div>
        <div class="col-8_sm-12">
          <p><a href="http://www.japan-sax-congress.com/">http://www.japan-sax-congress.com/</a></p>
        </div>
        <div class="col-4_sm-12">
          <h3>お支払方法</h3>
        </div>
        <div class="col-8_sm-12">
          <p>クレジットカード、銀行振込</p>
        </div>
        <div class="col-4_sm-12">
          <h3>参加申込の有効期限</h3>
        </div>
        <div class="col-8_sm-12">
          <p>コングレスのページをご参照ください。</p>
        </div>
        <div class="col-4_sm-12">
          <h3>参加申込の手順</h3>
        </div>
        <div class="col-8_sm-12">
          <p>コングレスのページをご参照ください。</p>
        </div>
        <div class="col-4_sm-12">
          <h3>参加申込費用</h3>
        </div>
        <div class="col-8_sm-12">
          <p>コングレスのページをご参照ください。</p>
        </div>
        <div class="col-4_sm-12">
          <h3>交換・返品・キャンセル等</h3>
        </div>
        <div class="col-8_sm-12">
          <p>お客様の都合によるお申し込み後の商品変更・ご注文の取り消しはできません。</p>
        </div>
      </div>
    </article>
  </div>
</div>

<style>
  .window{
    background-color: #ede9dc;
  }

  .box > div > div > div{
    border-top: .3rem solid #f1a938;
border-right: 1px solid #ccc;
border-left: 1px solid #ccc;
padding-top: 1rem;
  }

  .box a{
    text-decoration: none;
    color: #8d8c85;
  }

  @media screen and (min-width: 768px) {
    .body{
      width:  1024px;
      margin: auto;
    }
  }

  @media screen and (max-width: 768px) {
    .body{
      width: 100%;
    }
  }
</style>
