<!DOCTYPE html>
<html>
  <head>
    <title>特定商取引法に基づく表記 of 第19回サクソフォーンコングレスHP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body style="margin: 0">
    <%= yield %>
  </body>
</html>
